<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/homestyle.css">
  <title>Blog</title>
</head>
<body>
  <header>
    <div id="top-header">
      <h1 class="header-text">Blog Page Title</h1>
    </div>
  <div id="navbar">
  <a class="header-text" id="nav-link" href="/submit">Submit Review</a>
  </div>
  </header>
  <main>
    <section id="center-column">
      <div class="column-reverse">
    <article class="post-box" th:each="post : ${postsList}">
      <h2 class="article-header" th:text="${post.Title}">Chasing Mirrors</h2>
      
    <h3>Lorem ipsum dolor sit amet, et vis liber putent reprehendunt, suas numquam consetetur eos at. Ei vim scripta moderatius, ut duo partiendo vituperata. Homero repudiare referrentur ut sed, ius cu nostrum inciderint. Et liber officiis omittantur eos. Eu usu gubergren conceptam honestatis, per tale accusata accommodare ad, accusata adversarium ne sit.</h3>

    </article>
    </section>
  </main>
</body>
</html>