<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/homestyle.css">
  <title>Blog</title>
</head>
<body>
  <header>
    <div id="top-header">
      <h1 class="header-text">Blog Page Title</h1>
    </div>
  <div id="navbar">
  <a class="header-text" id="nav-link" href="/">Home</a>
  <a class="header-text" id="nav-link" href="/post/submitPost">Submit Review</a>
  <a class="header-text" id="nav-link" href="/author"> View/Add Authors</a>
  </div>
  </header>
  <main>
    <div class="three-column">
      <section>
      </section>
      <section id="left-column" class="sidebar">
        <h2 class="bold section-title">Some Stuff</h2>
        <div class="white-box">
          <p>placeholder text</p>
        </div>
      </section>
        <!--Close left-column-->
        
    <section id="center-column">
        <h1 class ="article-header">List Of Authors</h1>
      <div class="column-reverse">    
    <article class="white-box">
      <p class="article-header" th:text="${author.authorName}">Authors</p>
      <div class= "list-of-posts">
          <ul th:each= "post : ${author.posts}">
              <li><a th:href="@{|/post/${post.id}|}" th:text="@{|${post.title}|}"></a>
            </li>
          </ul>

      </div>
    </article>
      </div>
    </section>
      <!--Close center-column-->
      </div>
         <!--Close three-column-grid-->
       <section>
        <div class="footer-box">
           <h2 class="bold section-title">Our Sponsors</h2>
        </div>
      </section>     
  </main>
</body>
</html>